{% extends 'base.html' %}

{% block head %}
<title>Futures Article</title>
{% endblock %}

{% block body %}
<div class="container" align="center">
    {% if status == 'ERROR' %}
        <div class="card" align="left" style="width: 55rem;">
            <div class="card-body">
                <h4>
                    {{error}}
                </h4>
            </div>
        </div>
    {% else %}
        <nav  style="width: 55rem;">
            <div class="nav nav-tabs" id="nav-tab">
                <a href data-target="#version2" data-toggle="tab"  class="nav-item nav-link active" aria-expanded="true">Version2</a>
                <a href data-target="#version1" data-toggle="tab" class="nav-item nav-link" aria-expanded="false">Version1</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="version1" aria-expanded="false">
                <div class="card" align="left" style="width: 55rem;">
                    <div class="card-body">
                      <h5 class="card-title">
                          {{title_v1}}
                      </h5>
                        {% for text_v1 in article_text_v1 %}
                            <p class="card-text">
                                {{text_v1}}
                            </p>
                        {% endfor %}
                        <br>
                    </div>
                    <div class="card-body">
                        <a href="/blog/home" class="btn btn-primary">뒤로가기</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show" id="version2" aria-expanded="true">
                <div class="card" align="left" style="width: 55rem;">
                    <div class="card-body">
                      <h5 class="card-title">
                          {{title_v2}}
                      </h5>
                        {% for text_v2 in article_text_v2 %}
                            <p class="card-text">
                                {{text_v2}}
                            </p>
                        {% endfor %}
                        <br>
                    </div>
                    <div class="card-body">
                        <a href="/blog/home" class="btn btn-primary">뒤로가기</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}