{% extends 'base.html' %}

{% block head %}
<title>Futures Article</title>
{% endblock %}

{% block body %}
<div class="container" align="center">
    <div class="panel panel-default" align="left" style="width: 70rem;">
        <h5 class="panel-heading">
            {{title}}
        </h5>
        <div class="panel-body">
            {% for text in article_text %}
                <p>
                    {{text}}
                </p>
            {% endfor %}
            <br><br>
        </div>
        <div class="panel-footer">
            <a href="/article/home" class="btn btn-primary">뒤로가기</a>
            <a href="/article/futures/refresh/{{game_id}}" class="btn btn-primary">기사재생성</a>
            <a href="/article/home" class="btn btn-primary">기사전송</a>
        </div>
    </div>
</div>
{% endblock %}